* {
    box-sizing: border-box;
}
input[type=file] {
    display: none;
}
html, body {
    margin: 0;
    border: 0 solid transparent;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Optima, "STHeiti", sans-serif;
    font-size: 16px;
    overflow: hidden;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    transition: transform .6s ease;
}

.btn {
    display: inline-block;
    border: 1px solid darkblue;
    border-radius: 2px;
    padding: 0 10px;
    min-width: 70px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    color: darkblue;
    background-color: white;
    transition: all .1s ease;
    font-size: 16px;
    user-select: none;
    text-align: center;
}
.btn:hover {
    background-color: darkblue;
    color: white;
}

#page1 {
    left: 0;
}

#page2 {
    left: 100%;
}

#playground {
    margin: 20px auto;
    width: 888px;
}

#box, #subtitle, #panel {
    width: 100%;
}

video {
    border: 1px solid darkgray;
    display: block;
}

#subtitle {
    border: 1px solid darkgray;
    border-width: 0 1px 1px 1px;
    padding: 10px;
    font-size: 16px;
    cursor: default;
}
#panel {
    border: 1px solid darkgray;
    border-width: 0 1px 1px 1px;
    padding: 10px;
}

.word:hover {
    text-decoration: underline;
}

#back-btn {
    position: absolute;
    top: 60px;
    left: 20px;
}

.list .file,
.list .dir {
    font-size: 16px;
    margin: 10px 0;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    transition: all .1s ease;
}
.list .file {
    border: 1px solid darkgreen;
    color: darkgreen;
    background-color: white;
}
.list .file:hover {
    color: white;
    background-color: darkgreen;
}
.list .dir {
    border: 1px solid darkred;
    color: darkred;
    background-color: white;
}
.list .dir:hover {
    color: white;
    background-color: darkred;
}

.title {
    font-size: 18px;
    margin: 20px 0 10px;
    border-bottom: 1px solid darkgray;
    height: 28px;
    line-height: 28px;
    transition: all .3s ease;
    color: darkgray;
}

#title {
    text-align: center;
    color: darkgray;
}